#stylespanel {
	font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	width: 124px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
}
.stylespanel-content {
	background: #ddd;
	padding: 10px 10px 0;
	overflow: hidden;
	display: none;
}
.stylespanel-content a {
	float: left;
	margin: 5px;
}
.stylespanel-content a:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.stylespanel-content strong {
	color: #666;
}
#stylespanel br {
	clear: both;
}
.stylespanel-toggle {
	background: #ddd;
	padding: 5px 15px;
	border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
}
.stylespanel-toggle a {
	text-decoration: none;
	display: block;
	padding: 5px 0 5px 26px;
	font-weight: bold;
	color: #666;
	text-transform: uppercase;
	background: url('cog.png') 0 50% no-repeat;
}
.stylespanel-toggle a:hover {
	color: #666;
}

#colorspanel {
	width: 200px;
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 99998;
}
.colorspanel-content {
	background: #eee;
	padding: 10px 10px 0;
	overflow: hidden;
	left: -180px;
}
.colorspanel-content a {
	float: left;
	margin: 5px;
}
.colorspanel-content a:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.colorspanel-content strong {
	color: #333;
}
#colorspanel br {
	clear: both;
}
.colorspanel-toggle {
	background: #eee;
	padding: 10px 15px;
	border-radius: 0 0 12px 0;
	-moz-border-radius: 0 0 12px 0;
	-webkit-border-radius: 0 0 12px 0;
}
.colorspanel-toggle a {
	text-decoration: none;
	display: block;
	padding: 5px 0 5px 26px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	background: url('cog.png') 0 50% no-repeat;
}
.colorspanel-toggle a:hover {
	color: #666;
}